.App {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.img-app{
  width: 100%;
  opacity: 0.5;
}

.header{
  width: 50%;
  min-width: 400px;
  display: block;
  margin: auto;
  position: absolute;
  top: 200px;
  left: 25%;
}

.header-app{
  -webkit-line-break: after-white-space;
  white-space: pre-wrap;
  line-height:31px;
  font-size: 38px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

.header-info{
  margin-top: 100px;
  -webkit-line-break: after-white-space;
  white-space: pre-wrap;
  font-size: 16px;
  font-weight: 100;
  width: 80%;
}

.header-app span{
  color: deeppink;
}

.challenge{
  width: 70%;
  display: block;
  margin: 0 auto 10px auto;
  min-width: 400px;
  text-align: center;
}

.simple-img{
  width: 90%;
  display: block;
  margin: 0 auto;
}

.margin-top{
  margin-top:150px;
}

.small-img{
  width: 20%;
  float: left;
}

.small-img-right{
  float: right;
}

.challenge-info{
  width: 50%;
  margin-top: 40px;
  padding: 40px;
  text-align: left;
}

.challenge-info-right{
  text-align: right;
  float: right;
}

.challenge-block{
  clear: both;
}